/*********public style*********/

.left {
    float: left;
}

.right {
    float: right;
}

.mb10 {
    margin-bottom: 10px;
}

.main {
    margin: 10px auto;
    width: 980px;
    overflow: hidden;
}

.title {
    background: url(../images/title-bg.gif) repeat-x;
    height: 34px;
    line-height: 34px;
    border: 1px solid #d5d5d5;
    border-top: 2px solid #404040;
    width: 968px;
    padding-left: 10px;
}

.title h3 {
    font-weight: bold;
    font-size: 14px;
    color: #333333;
    float: left;
    width: 80px;
}

.title span.f1 {
    float: left;
    font-weight: bold;
    font-size: 14px;
    width: 300px;
    padding-left: 10px;
}

.title span.f2 {
    float: right;
    width: 200px;
    padding-right: 10px;
    text-align: right;
}

.title span.f2 a {
    color: #e10;
}

.title .text_scroll {
    float: left;
    height: 34px;
    width: 858px;
    overflow: hidden;
    background: url(../images/placard.gif) no-repeat;
    padding-left: 30px;
}

.title .text_scroll li {
    width: 858px;
    height: 34px;
    line-height: 34px;
}

.maincon {
    border: 1px solid #d5d5d5;
    border-top: none;
    width: 958px;
    padding: 10px;
    overflow: hidden;
    background: #fff;
}

.selectwarp {
    border-bottom: 1px solid #d5d5d5;
    width: 958px;
    overflow: hidden;
    padding-bottom: 10px;
    float: left;
    margin-bottom: 10px;
}

.select-box {
    width: 479px;
    float: left;
    overflow: hidden;
    height: 43px;
}

.select-box span {
    float: left;
    width: 50px;
    text-align: center;
    height: 43px;
    line-height: 20px;
    background: url(../images/tab_bg.jpg) repeat-x;
    border: 1px solid #d5d5d5;
    margin-right: 5px;
}

.select-box span.f1 {
    float: left;
    width: 50px;
    text-align: center;
    height: 43px;
    line-height: 43px;
    margin-left: 5px;
    background: none;
    border: none;
}

.select-box2 {
    width: 320px;
    float: left;
    overflow: hidden;
    height: 43px;
}

.select-box2 span {
    float: left;
    width: 50px;
    text-align: center;
    height: 43px;
    line-height: 20px;
    background: url(../images/tab_bg.jpg) repeat-x;
    border: 1px solid #d5d5d5;
    margin-right: 5px;
}

.select-box2 span.f1 {
    float: left;
    width: 50px;
    text-align: center;
    height: 43px;
    line-height: 43px;
    margin-right: 5px;
    background: none;
    border: none;
}

.select-box1 {
    width: 159px;
    float: left;
    overflow: hidden;
    height: 43px;
}

.shape-list {
    height: 43px;
    width: 401px;
    float: left;
}

.shape-list li {
    width: 40px;
    float: left;
    background: url(../images/shape.gif);
}

.shape-list li a {
    width: 40px;
    height: 43px;
    display: block;
}

.shape-list .shape_1 {
    background-position: left top;
}

.shape-list .shape_2 {
    background-position: -40px top;
}

.shape-list .shape_3 {
    background-position: -80px top;
}

.shape-list .shape_4 {
    background-position: -120px top;
}

.shape-list .shape_5 {
    background-position: -160px top;
}

.shape-list .shape_6 {
    background-position: -200px top;
}

.shape-list .shape_7 {
    background-position: -240px top;
}

.shape-list .shape_8 {
    background-position: -280px top;
}

.shape-list .shape_9 {
    background-position: -320px top;
}

.shape-list .shape_10 {
    background-position: right top;
    width: 41px;
}

.shape-list a.un {
    background: url(../images/shape.gif);
}

.shape-list .shape_1 a.un {
    background-position: left bottom;
}

.shape-list .shape_2 a.un {
    background-position: -40px bottom;
}

.shape-list .shape_3 a.un {
    background-position: -80px bottom;
}

.shape-list .shape_4 a.un {
    background-position: -120px bottom;
}

.shape-list .shape_5 a.un {
    background-position: -160px bottom;
}

.shape-list .shape_6 a.un {
    background-position: -200px bottom;
}

.shape-list .shape_7 a.un {
    background-position: -240px bottom;
}

.shape-list .shape_8 a.un {
    background-position: -280px bottom;
}

.shape-list .shape_9 a.un {
    background-position: -320px bottom;
}

.shape-list .shape_10 a.un {
    background-position: right bottom;
    width: 41px;
}

.carat {
    height: 43px;
    line-height: 43px;
}

.carat-input {
    border: 1px solid #ddd;
    background: #fff url(../images/input-shaddow.gif) no-repeat left top;
    color: #646464;
    padding: 7px;
    width: 40px;
}

.color-list {
    height: 43px;
    float: left;
}

.color-list li {
    width: 33px;
    height: 43px;
    float: left;
    line-height: 43px;
    text-align: center;
    font-weight: bold;
    font-family: Tahoma;
}

.color-list li a {
    width: 32px;
    height: 41px;
    display: block;
    background: url(../images/tab_bg.jpg) repeat-x;
    border: 1px solid #d5d5d5;
    color: #000;
}

.color-list li a:hover {
    display: block;
    text-decoration: none;
    color: #000;
}

.color-list li a.un {
    border: 1px solid #d5d5d5;
    background: #1e7eba;
    color: #fff;
}

.cut-list {
    height: 43px;
    float: left;
}

.cut-list li {
    width: 43px;
    height: 43px;
    float: left;
    line-height: 43px;
    text-align: center;
    font-weight: bold;
    font-family: Tahoma;
}

.cut-list li a {
    width: 42px;
    height: 41px;
    display: block;
    background: url(../images/tab_bg.jpg) repeat-x;
    border: 1px solid #d5d5d5;
    color: #000;
}

.cut-list li a:hover {
    display: block;
    text-decoration: none;
    color: #000;
}

.cut-list li a.un {
    border: 1px solid #d5d5d5;
    background: #1e7eba;
    color: #fff;
}

.clarity-list {
    height: 43px;
    float: left;
}

.clarity-list li {
    width: 38px;
    height: 43px;
    float: left;
    line-height: 43px;
    text-align: center;
    font-weight: bold;
    font-family: Tahoma;
}

.clarity-list li a {
    width: 42px;
    height: 41px;
    display: block;
    background: url(../images/tab_bg.jpg) repeat-x;
    border: 1px solid #d5d5d5;
    color: #000;
}

.clarity-list li a:hover {
    display: block;
    text-decoration: none;
    color: #000;
}

.clarity-list li a.un {
    border: 1px solid #d5d5d5;
    background: #1e7eba;
    color: #fff;
}

.fluor-list {
    height: 43px;
    float: left;
}

.fluor-list li {
    width: 63px;
    height: 43px;
    float: left;
    line-height: 43px;
    text-align: center;
    font-weight: bold;
    font-family: Tahoma;
}

.fluor-list li a {
    width: 62px;
    height: 41px;
    display: block;
    background: url(../images/tab_bg.jpg) repeat-x;
    border: 1px solid #d5d5d5;
    color: #000;
}

.fluor-list li a:hover {
    display: block;
    text-decoration: none;
    color: #000;
}

.fluor-list li a.un {
    border: 1px solid #d5d5d5;
    background: #1e7eba;
    color: #fff;
}

.fluor-list li.ston {
    width: 103px;
    height: 43px;
    float: left;
    line-height: 43px;
    text-align: center;
    font-weight: bold;
    font-family: Tahoma;
}

.fluor-list li.ston a {
    width: 102px;
    height: 41px;
    display: block;
    background: url(../images/tab_bg.jpg) repeat-x;
    border: 1px solid #d5d5d5;
    color: #000;
}

.fluor-list li.ston a:hover {
    display: block;
    text-decoration: none;
    color: #000;
}

.fluor-list li.ston a.un {
    border: 1px solid #d5d5d5;
    background: #1e7eba;
    color: #fff;
}

.item-input {
    border: 1px solid #ddd;
    float: left;
    background: #fff url(../images/input-shaddow.gif) no-repeat left top;
    color: #646464;
    padding: 7px;
    width: 110px;
    margin-top: 7px;
    margin-right: 15px;
}

.money-input {
    border: 1px solid #ddd;
    background: #fff url(../images/input-shaddow.gif) no-repeat left top;
    color: #646464;
    padding: 7px;
    width: 40px;
    margin-top: 6px;
}

.location-list {
    height: 43px;
    float: left;
}

.location-list li {
    width: 96px;
    height: 43px;
    float: left;
    line-height: 43px;
    text-align: center;
    font-weight: bold;
    font-family: Tahoma;
}

.location-list li a {
    width: 95px;
    height: 41px;
    display: block;
    background: url(../images/tab_bg.jpg) repeat-x;
    border: 1px solid #d5d5d5;
    color: #000;
}

.location-list li a:hover {
    display: block;
    text-decoration: none;
    color: #000;
}

.location-list li a.un {
    border: 1px solid #d5d5d5;
    background: #1e7eba;
    color: #fff;
}

.fast-list {
    height: 43px;
    float: left;
}

.fast-list li {
    width: 66px;
    height: 43px;
    float: left;
    line-height: 43px;
    text-align: center;
    font-weight: bold;
    font-family: Tahoma;
}

.fast-list li a {
    width: 65px;
    height: 41px;
    display: block;
    background: url(../images/tab_bg.jpg) repeat-x;
    border: 1px solid #d5d5d5;
    color: #000;
}

.fast-list li a:hover {
    display: block;
    text-decoration: none;
    color: #000;
}

.fast-list li a.un {
    border: 1px solid #d5d5d5;
    background: #1e7eba;
    color: #fff;
}

.search {
    width: 479px;
    float: left;
    overflow: hidden;
    text-align: right;
}

.search .search-bnt {
    background: url(../images/login_bnt.gif) no-repeat;
    border: 0 none;
    color: #fff;
    cursor: pointer;
    font-size: 12px;
    height: 36px;
    line-height: 36px;
    width: 94px;
    font-weight: bold;
}

.search .search-bnt:hover {
    background-position: 0 -42px;
}

.result {
    background: url(../images/title-bg.gif) repeat-x;
    height: 34px;
    line-height: 34px;
    border: 1px solid #d5d5d5;
    width: 978px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.result span.f1 {
    float: left;
    width: 300px;
    height: 34px;
    line-height: 34px;
    padding-left: 10px;
}

.result span.f1 i {
    color: #990000;
    font-weight: bold;
    font-family: Tahoma;
}

.result span.f2 {
    float: right;
    padding: 1px 10px;
    height: 34px;
    line-height: 34px;
}

.result span.f2 i {
    color: #990000;
    font-weight: bold;
    font-family: Tahoma;
    margin-right: 10px;
}

.result span.f2 a {
    color: #000;
    font-weight: bold;
    font-family: Tahoma;
    margin-right: 5px;
}

.result span.f2 a:hover {
    color: #f50;
    text-decoration: none;
}

.result span.f2 a.on {
    background: #f4f4f4;
    border: 1px solid #333;
}

.result-list {
    margin-top: 10px;
    overflow: hidden;
    width: 978px;
    background: #efefef;
    font-size: 14px
}

.result-list thead {
    line-height: 35px;
    background: #efefef;
}

.result-list thead td {
    text-align: center;
    color: #555;
    border-bottom: 1px solid #dadada;
}

.result-list thead td span {
    width: 7px;
    height: 8px;
    display: inline-block;
    margin-left: 3px;
}

.result-list thead td a {
    color: #555;
}

.result-list thead td a.on {
    color: #e10;
}

.result-list tbody tr:hover td {
    background: #fff;
}

.result-list tbody td {
    height: 40px;
    line-height: 40px;
    text-align: center;
    vertical-align: middle;
}

.result-list tr.trspecial {
    background: #990000;
    color: #fff;
}

.result-list .w_30 {
    width: 30px;
}

.result-list .w_40 {
    width: 50px;
}

.result-list .w_50 {
    width: 50px;
}

.result-list .w_55 {
    width: 55px;
}

.result-list .w_85 {
    width: 85px;
}

.result-list .w_65 {
    width: 65px;
}

.result-list .w_208 {
    width: 208px;
}

.guide {
    margin-top: 10px;
    background: url(../images/title-bg.gif) repeat-x;
    height: 34px;
    line-height: 34px;
    border: 1px solid #d5d5d5;
    width: 968px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding-left: 10px;
    font-weight: bold;
    font-size: 14px;
}


/* 订单详情 */

.order-view {
    margin-top: 10px;
    background: url(../images/title-bg.gif) repeat-x;
    height: 34px;
    line-height: 34px;
    border: 1px solid #d5d5d5;
    width: 978px;
    border-top: 2px solid #8f6800;
}

.order-view span.f1 {
    float: left;
    font-weight: bold;
    width: 300px;
    padding-left: 10px;
}

.order-view span.f1 i {
    color: #990000;
    font-family: Tahoma;
}

.order-view span.f2 {
    float: right;
    width: 200px;
    padding-right: 10px;
    text-align: right;
}

.view-data {
    width: 958px;
    border: 1px solid #d5d5d5;
    border-top: none;
    overflow: hidden;
    padding: 0 10px;
}

.view-data li {
    float: left;
    width: 479px;
    border-bottom: 1px solid #d5d5d5;
    line-height: 27px;
    height: 27px;
    margin-bottom: 10px;
}

.view-data .remark {
    width: 958px;
    float: left;
    line-height: 27px;
}


/* 分页 */

.pagewarp {
    margin: 10px 0 0 20px;
    height: 40px;
    text-align: center;
}

.pagewarp li {
    float: left;
    height: 30px;
    line-height: 30px;
    margin-right: 5px;
}

.pagewarp li a {
    display: inline-block;
    padding: 0 10px;
    border: 1px solid #E3E3E3;
    border-radius: 5px;
    -moz-border-radius: 5px;
    background: #fff url(../images/tab_bg.jpg) repeat-x;
}

.pagewarp li a:hover {
    border: #383839 1px solid;
    color: #FFF;
    background: #404040;
    text-decoration: none;
}

.pagewarp li.disabled a {
    border: #383839 1px solid;
    background: #404040;
    color: #FFF
}

.subscribe {
    float: right;
    width: 100px;
    height: 40px;
}

.subscribe .submit-bnt {
    background: url(../images/login_bnt.gif) no-repeat;
    border: 0 none;
    color: #fff;
    cursor: pointer;
    font-size: 12px;
    height: 36px;
    line-height: 36px;
    width: 94px;
    font-weight: bold;
    margin-top: 5px;
}

.subscribe .submit-bnt:hover {
    background-position: 0 -42px;
}

.cart-list {
    margin-top: 10px;
    border: 1px solid #d5d5d5;
    overflow: hidden;
    width: 978px;
}

.cart-list thead {
    line-height: 35px;
}

.cart-list thead td {
    text-align: center;
    color: #555;
    border-bottom: 1px solid #dadada;
}

.cart-list thead td span {
    width: 7px;
    height: 8px;
    display: inline-block;
    margin-left: 3px;
}

.cart-list thead td a {
    color: #555;
}

.cart-list tbody td {
    background: #ffffff;
    border-bottom: 1px solid #dadada;
    height: 40px;
    line-height: 40px;
    text-align: center;
    vertical-align: middle;
    color: #6e6e6e;
}

.cart-list .w_30 {
    width: 30px;
}

.cart-list .w_40 {
    width: 50px;
}

.cart-list .w_50 {
    width: 50px;
}

.cart-list .w_55 {
    width: 55px;
}

.cart-list .w_85 {
    width: 85px;
}

.cart-list .w_65 {
    width: 65px;
}

.cart-list .w_208 {
    width: 208px;
}

.cart-total {
    text-align: right;
    padding-right: 5px;
    height: 35px;
    line-height: 35px;
    background: #fff;
}

.cart-total span {
    color: #990000;
    font-weight: bold;
    font-family: Tahoma;
}

.cart-empty {
    width: 978px;
    overflow: hidden;
    background: #fff;
    height: 300px;
    border: 1px solid #d5d5d5;
}

.cart-empty .icon {
    width: 140px;
    height: 100px;
    float: left;
    background: url(../images/cart.gif) no-repeat;
    margin-left: 150px;
    margin-top: 80px;
}

.cart-empty .empty-guide {
    float: left;
    margin-left: 20px;
    padding-top: 120px;
    width: 300px;
}

.cart-empty .empty-guide h2 {
    color: #000;
    font-weight: bold;
    font-size: 14px;
}

fieldset {
    padding: 0;
    margin: 20px 0;
    border: 0;
}

.control-group {
    margin-bottom: 10px;
    width: 100%;
    float: left;
}

.control-group .texts {
    padding: 10px;
    line-height: 27px
}

.control-label {
    float: left;
    width: 160px;
    padding-top: 6px;
    text-align: right;
    color: #444444;
}

.control-group input {
    border: 1px solid #ddd;
    background: #fff url(../images/input-shaddow.gif) no-repeat left top;
    color: #646464;
    padding: 7px;
}

.control-group textarea {
    border: 1px solid #ddd;
    background: #fff url(../images/input-shaddow.gif) no-repeat left top;
    font: 11px Arial, Helvetica, sans-serif;
    color: #646464;
    padding: 5px 7px;
    width: 364px;
    float: left;
    margin: 0 10px 0 0;
    height: 148px;
    overflow: hidden;
}

.control-group.error .control-label,
.control-group.error .help-inline {
    color: #b94a48;
}

.control-group.error input {
    border: 1px solid #b94a48;
    background: #fff url(../img/input-shaddow.gif) no-repeat left top;
    color: #646464;
    padding: 7px;
    float: left;
}

.help-inline {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: middle;
    padding-left: 5px;
    padding-top: 6px;
    color: #bababa;
}

.form-actions {
    float: left;
    width: 500px;
    margin-left: 160px;
    *margin-left: 80px;
}

.form-actions .form-bnt {
    background: url(../images/login_bnt.gif) no-repeat;
    border: 0 none;
    color: #fff;
    cursor: pointer;
    font-size: 12px;
    height: 36px;
    line-height: 36px;
    width: 94px;
    font-weight: bold;
}

.form-actions .form-bnt:hover {
    background-position: 0 -42px;
}

input.span1,
textarea.span1 {
    width: 46px;
}

input.span2,
textarea.span2 {
    width: 126px;
}

input.span3,
textarea.span3 {
    width: 206px;
}

input.span4,
textarea.span4 {
    width: 286px;
}

input.span5,
textarea.span5 {
    width: 390px;
}

.tabnav {
    width: 978px;
    height: 30px;
    margin: 10px 0;
    border: 1px solid #d5d5d5;
    background: #fff;
    padding-top: 5px;
    background: url(../images/tab_bg.jpg) repeat-x;
}

.tabnav li {
    float: left;
    height: 30px;
    margin-left: 8px;
    border: 1px solid #ddd;
    border-bottom: none;
}

.tabnav li a {
    display: block;
    float: left;
    height: 30px;
    line-height: 30px;
    text-decoration: none;
    color: #444444;
    padding: 0 20px;
    background: #f0f0f0 url(../images/tab_bg.jpg) repeat-x;
}

.tabnav li a:hover {
    background: url(../images/tab_bg.jpg) repeat-x;
    color: #444444;
    text-decoration: underline;
}

.tabnav li a.active {
    background: #1e7eba;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
}

.order-list {
    margin-top: 10px;
    overflow: hidden;
    width: 980px;
}


/*表格 */

.tabstyle {
    border-collapse: collapse;
    table-layout: automatic;
    width: 100%;
    background: #fff;
}

.tabstyle thead {
    background: url(../images/tab_bg.jpg) repeat-x;
}

.tabstyle td,
.tabstyle th {
    padding: 8px;
    border: 1px solid #e6e6e6;
}

.tabstyle tbody tr:hover {
    background-color: #f1f1f1;
}

.float_cart {
    width: 28px;
    height: 31px;
    background: url(../images/float-cart.gif) no-repeat;
    padding-left: 38px;
    line-height: 36px;
    margin-right: 5px;
}

.float_cart a {
    color: #886205;
    font-weight: bold;
    font-family: Tahoma;
}

.float_cart a:hover {
    color: #fff;
}

#online_qq {
    z-index: 9999;
    position: fixed;
    right: 0px;
    top: 0;
    margin: 150px 0 0 0;
}

.online_qq_tit {
    background: url(../images/online-qq.gif) no-repeat;
    width: 110px;
    height: 62px;
}

.online_qq_con {
    background: url(../images/online-qq.gif) repeat-y -118px 0;
    width: 110px;
}

.online_qq_con li {
    padding: 0 0 5px 18px;
    width: 92px;
}

.online_qq_bot {
    background: url(../images/online-qq.gif) no-repeat -235px 0;
    width: 110px;
    height: 62px;
}

.cart-select {
    width: 100%;
    border-top: 1px solid #d5d5d5;
    position: fixed;
    background: #f8f8f8;
    left: 0px;
    bottom: 0;
    _position: absolute;
    _top: expression(document.documentElement.clientHeight + document.documentElement.scrollTop - this.offsetHeight);
}

.cart-select-box {
    margin: 0 auto;
    width: 980px;
}

.cart-select-box .cartguid {
    height: 30px;
    line-height: 30px;
    width: 980px;
    text-align: center;
}

.snap-cart {
    margin: 0 auto;
    width: 980px;
}

.snap-list {
    border: 1px solid #014d7c;
    overflow: hidden;
    width: 978px;
    background: #78c2f0;
}

.snap-list thead {
    line-height: 35px;
    background: #0e7dc2;
}

.snap-list thead td {
    text-align: center;
    color: #fff;
    border-bottom: 1px solid #dadada;
}

.snap-list thead td span {
    width: 7px;
    height: 8px;
    display: inline-block;
    margin-left: 3px;
}

.snap-list tbody tr:hover td {
    background: #92d2fa;
}

.snap-list tbody td {
    height: 40px;
    line-height: 40px;
    text-align: center;
    vertical-align: middle;
}

.snap-list tbody td a {
    color: #000;
}

.snap-list .w_30 {
    width: 30px;
}

.snap-list .w_40 {
    width: 50px;
}

.snap-list .w_50 {
    width: 50px;
}

.snap-list .w_55 {
    width: 55px;
}

.snap-list .w_80 {
    width: 80px;
}

.snap-list .w_85 {
    width: 85px;
}

.snap-list .w_65 {
    width: 65px;
}

.snap-list .w_208 {
    width: 208px;
}

.cart-action {
    width: 980px;
    height: 40px;
}

.snap-bnt {
    background: url(../images/bnt.gif) no-repeat;
    border: 0 none;
    color: #fff;
    cursor: pointer;
    font-size: 12px;
    height: 28px;
    line-height: 28px;
    width: 68px;
    float: right;
    margin-top: 8px;
}

.snap-bnt:hover {
    background-position: 0 -32px;
}

.web-group {
    height: 30px;
    overflow: hidden;
    margin-bottom: 10px;
    line-height: 30px;
    width: 953px;
    border-bottom: 1px solid #d5d5d5;
    font-weight: bold;
    color: #666666;
    padding-left: 5px;
}

.popbox {
    padding: 10px;
}

.listtab {
    border-collapse: collapse;
    table-layout: automatic;
    width: 100%;
    background: #fff;
}

.listtab td,
.listtab th {
    border: 1px solid #d4d4d4;
}
