<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bianlide.zb.cms.dao.TJewContentMapper" >
  <resultMap id="BaseResultMap" type="com.bianlide.zb.cms.model.TJewContent" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="code_module" property="codeModule" jdbcType="VARCHAR" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="pre_img" property="preImg" jdbcType="VARCHAR" />
    <result column="home_img" property="homeImg" jdbcType="VARCHAR" />
    <result column="small_img" property="smallImg" jdbcType="VARCHAR" />
    
    <result column="name_module" property="nameModule" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.bianlide.zb.cms.model.TJewContent" extends="BaseResultMap" >
    <result column="content" property="content" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, code_module, title, create_time
  </sql>
  <sql id="Blob_Column_List" >
    content
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select id,code_module,title,create_time,pre_img,content,home_img,small_img
    from t_jew_content
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_jew_content
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.bianlide.zb.cms.model.TJewContent" >
    insert into t_jew_content (id, code_module, title, 
      create_time, content,pre_img)
    values (#{id,jdbcType=INTEGER}, #{codeModule,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{content,jdbcType=LONGVARCHAR}, #{preImg,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.bianlide.zb.cms.model.TJewContent" >
    insert into t_jew_content
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="codeModule != null" >
        code_module,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="preImg != null" >
        pre_img,
      </if>
      <if test="homeImg != null" >
        home_img ,
      </if>
      <if test="smallImg != null" >
        small_img,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="codeModule != null" >
        #{codeModule,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="content != null" >
        #{content,jdbcType=LONGVARCHAR},
      </if>
       <if test="preImg != null" >
        #{preImg,jdbcType=VARCHAR},
      </if>
      <if test="homeImg != null" >
        #{homeImg,jdbcType=VARCHAR},
      </if>
      <if test="smallImg != null" >
        #{smallImg,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bianlide.zb.cms.model.TJewContent" >
    update t_jew_content
    <set >
      <if test="codeModule != null" >
        code_module = #{codeModule,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=LONGVARCHAR},
      </if>
       <if test="preImg != null" >
        pre_img = #{preImg,jdbcType=VARCHAR},
      </if>
       <if test="homeImg != null" >
        home_img = #{homeImg,jdbcType=VARCHAR},
      </if>
      <if test="smallImg != null" >
        small_img = #{smallImg,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.bianlide.zb.cms.model.TJewContent" >
    update t_jew_content
    set code_module = #{codeModule,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      pre_img = #{preImg,jdbcType=VARCHAR},
      content = #{content,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bianlide.zb.cms.model.TJewContent" >
    update t_jew_content
    set code_module = #{codeModule,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR},
      pre_img = #{preImg,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <select id="getAticleList" parameterType="com.bianlide.zb.cms.model.TJewContent"  resultMap="ResultMapWithBLOBs">
    select 
    tjc.id,tjc.code_module,tjc.title,tjc.content,tcm.name_module,tjc.create_time,tjc.pre_img,tjc.home_img,tjc.small_img
    from t_jew_content tjc,t_code_module tcm
    where tjc.code_module=tcm.code_module
    <if test="codeModule != null" >
      and tjc.code_module=#{codeModule,jdbcType=VARCHAR}
    </if>
    order by tjc.create_time desc
   
  </select>
</mapper>